@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #28bf96;
  --primary-color-dark: #209677;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  --background: #f9f9f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav_main_logo {
  width: 170px;
}

nav {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.about-header {
  text-align: center;
  padding: 60px 0;
  background: var(--primary-color);
  color: var(--white);
}

.about-header h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.about-header span {
  font-weight: 500;
  color: #ffdd57;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
}

.about-text {
  width: 55%;
  padding-right: 20px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--primary-color-dark);
}

.about-text p {
  font-size: 1.1rem;
  color: var(--text-light);
  line-height: 1.85rem;
  margin-bottom: 25px;
}

.about-text ul {
  list-style: none;
  padding-left: 0;
}

.about-text ul li {
  font-size: 1.1rem;
  color: var(--text-dark);
  margin-bottom: 15px;
}

.about-image {
  width: 40%;
  text-align: center;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 25px;
  background: var(--primary-color);
  color: var(--white);
  margin-top: 40px;
  font-size: 1.1rem;
}

@media (max-width: 900px) {
  .nav__links {
    display: none;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
    padding: 50px;
  }

  .about-text, .about-image {
    width: 100%;
  }

  .about-image img {
    max-width: 350px;
  }
}
